*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(//media1.calvinklein.com/images/20210613/HP_2x.jpg);
    background-repeat: no-repeat;
    background-size: 100% 65%;
    height: 100vh;
    color: white;

}
#menu{
    padding: 20px ;
}
header #menu ul{
    margin: 0;
    padding: 0;
}
header #menu ul li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}
header #menu ul li a{
    color: white;
    text-decoration: none;
}
header #menu ul li a:hover{
    text-align: left;
    text-decoration: underline;
    color: black;
}
header #menu ul #Logo{
    text-align: center;
    margin-left:32% ;
    margin: auto;
}
header #menu ul #bus{
    text-align: right;
    font-size: 15px;
    margin-left: 60%;
}
input{
    font-size: 20px;
}
/* ************************ */
#main-container header main .text h1{
    text-align: center;
    padding: 5px 0;
    font-size: 45px;
}
#main-container header main .text p{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}
button{
    text-align: center;
    background-color:transparent;
    border-color: white;
    color:white ;
    cursor: pointer;
    font-size: 35px;
    height: 10vh;

}
button:hover{
    background-color: white;
    color: black;
}
#main-container{
    text-align: left;
}
